@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  height: 8px; 
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #e5e7eb; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5566;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #303742;
}

.bg-sunny {
  background-image: url("/images/sunny.png");
  background-size: cover;
  background-position: center;
}

.bg-cloudy {
  background-image: url("/images/cloudy.png");
  background-size: cover;
  background-position: center;
}

.bg-rainy {
  background-image: url("/images/rainy.png");
  background-size: cover;
  background-position: center;
}

.bg-partly-cloudy {
  background-image: url("/images/partly-cloudy.png");
  background-size: cover;
  background-position: center;
}
.bg-snow {
  background-image: url("/images/snow.png");
  background-size: cover;
  background-position: center;
}
.bg-foggy {
  background-image: url("/images/foggy.png");
  background-size: cover;
  background-position: center;
}
.bg-thunder-storm {
  background-image: url("/images/thunder-storm.png");
  background-size: cover;
  background-position: center;
}

.bg-clear {
  background-image: url("/images/clearly.png");
  background-size: cover;
  background-position: center;
}
.bg-drizzle {
  background-image: url("/images/drizzle.png");
  background-size: cover;
  background-position: center;
}

